# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/
*.egg

# Virtual environments
venv/
.venv/
env/

# Database (auto-created on first run by src/db/seed_data.py)
data/permadesign.db

# Editor / OS
.idea/
.vscode/
*.swp
*~
.DS_Store
Thumbs.db

# Autosave
*.perma.geojson.bak
